section{
	background: #CEC8C8;
}

section img{
	margin-top: 30px;
	margin-left: 30px;
	border-radius: 15px;
	right: 500px;
	width: 400px;

	
}
section nav li{
	margin-top: 20px;
	margin-left: 55px; 
	font-size:15px;
	text-align: justify;
	
}

