nav.carousel{
	margin-top: -15px;
	;
	
}

nav.carousel h3{
	font-size: 25px;
	color: #000;
}

nav.carousel img{
	max-height: 560px;

}

footer div {
	background: black;
	color: white;
	text-align: center;
	margin: 0 auto;
	margin-top: 0px;
	height: 30px;
	padding-top: 5px;
}