@import url(info.css);
@import url(reporte.css);
@import url(logeo.css);



nav.carousel{
	margin-top: -15px;
	;
	
}

nav.carousel h3{
	font-size: 25px;
	color: #000;
}

nav.carousel img{
	max-height: 560px;

}


footer div {
	background: black;
	color: white;
	text-align: center;
	margin: 0 auto;
	margin-top: 0px;
	height: 30px;
	padding-top: 5px;
}


/*vidrio*/


* {
	margin: 0;
	padding: 0;
	}

section{
	display: block;
	}


h2 {
	font-size: 25px;
	padding: -5px;
	}
p {
	padding-bottom: 20px;
	}

	#content ul.column {
	width: 100%;
	padding: 0;
	margin: 10px 0;
	list-style: none;
}

#content ul.column li {
	float: left;
	width: 250px; 
	padding: 0;
	margin: 40px;
	display: inline;
	max-height: 1000px;
	text-align: center;


}

#content .block {
	height: 355px;
	font-size: 10px;
	margin-right: 10px; 
	padding: 20px;
	background: #A1B81C;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

}

#content .block a {
	color: #FFF;

	}
	
#content .block img {
	width: 90%;  
	padding: 5%;
	background: #CFD4B4;
	margin: 0 auto;
	display: block;
	max-height: 110px;

	}