.cabecera{
	background: transparent;
	font-size: 200%;
	color: white;
	height: 100px;
	padding-top: 15px;
	padding-left: 45px;
	text-align: center;

}

.pie{
	background: transparent;
	color: white;
	text-align: center;
	margin: 0 auto;
	margin-top: 520px;
	height: 30px;
	padding-top: 5px;
}

.cuerpo{
	margin: 0 auto;
	font-size: 180%;
	color: #8BC633;
	text-align: center;
	height: 450px;
	margin-top: 210px;
}

.botonMenu{
	margin-left: 45px;
	margin-top: -40px;
}